{% extends '_base.html' %}


{% block outer_content %}
<header>
    <div class="header-wrapper">
        <h1>Quotable
        <span class="help">
            <a href="https://docs.google.com/document/d/15G5N4an1BtGUVxN-Rh5coJFZxICsiFLLme4D5o1Tf30/edit?usp=sharing">
            <i class="icon-info-sign"></i>
            how to use this
            </a>
        </span>
        </h1>
        <a class="toolkit-link" href="http://tools.apps.npr.org">
            WBUR Newsroom Toolkit
        </a>
    </div>
</header>
<div class="content">
    <div class="poster-wrapper">
        <div class="poster quote poster-wbur">
            <span class="left-quote">&ldquo;</span>
            <blockquote><p></p></blockquote>

            <p class="source"></p>
            <p class="show-credit"></p>

            <p class="logo-wrapper">
                <img class="logo logo-wbur" src="./assets/wbur.svg">
                <img class="logo logo-npr" src="./assets/npr.png">
                <img class="logo logo-onpoint" src="./assets/on-point.png">
                <img class="logo logo-hearandnow" src="./assets/here-and-now.png">
                <img class="logo logo-onlyagame" src="./assets/only-a-game.png">
                <img class="logo logo-radioboston" src="./assets/radio-boston.png">
                <img class="logo logo-modernlove" src="./assets/modern-love.png">
                <img class="logo logo-dearsugar" src="./assets/dear-sugar.png">
                <img class="logo logo-kindworld" src="./assets/kind-world.png">
                <img class="logo logo-magicpill" src="./assets/magic-pill.png">
                <img class="logo logo-cognoscenti" src="./assets/cognoscenti.png">
                <img class="logo logo-commonhealth" src="./assets/commonhealth.png">
                <img class="logo logo-artery" src="./assets/the-artery.png">
                <img class="logo logo-bostonomix" src="./assets/bostonomix.png">
                <img class="logo logo-edify" src="./assets/edify.png">
                <img class="logo logo-politicker" src="./assets/politicker.png">
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="form controls col-md-12">
                <div class="controls-wrapper">
                    <div class="form-group">
                        <label for="fontsize">Font Size</label>
                        <input id="fontsize" name="fontsize" type="range" min="24" max="120" value="90">
                    </div>
                    <div class="form-group">
                        <label>Theme</label>
                        <div id="theme" class="btn-group-vertical">
                            <button id="wbur" class="btn btn-default btn-primary">WBUR</button>
                            <button id="npr" class="btn btn-default">NPR</button>
                            <button id="onpoint" class="btn btn-default">On Point</button>
                            <button id="hearandnow" class="btn btn-default">Here &amp; Now</button>
                            <button id="onlyagame" class="btn btn-default">Only A Game</button>
                            <button id="radioboston" class="btn btn-default">Radio Boston</button>
                            <button id="modernlove" class="btn btn-default">Modern Love</button>
                            <button id="dearsugar" class="btn btn-default">Dear Sugar Radio</button>
                            <button id="kindworld" class="btn btn-default">Kind World</button>
                            <button id="magicpill" class="btn btn-default">Magic Pill</button>
                            <button id="cognoscenti" class="btn btn-default">Cognoscenti</button>
                            <button id="commonhealth" class="btn btn-default">CommonHealth</button>
                            <button id="artery" class="btn btn-default">The ARTery</button>
                            <button id="bostonomix" class="btn btn-default">Bostonomix</button>
                            <button id="edify" class="btn btn-default">Edify</button>
                            <button id="politicker" class="btn btn-default">Politicker</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Aspect ratio</label>
                        <div id="aspect-ratio" class="btn-group">
                            <button id="square" class="btn btn-default btn-primary">Square</button>
                            <button id="sixteen-by-nine" class="btn btn-default">16:9 <small>(Twitter)</small></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Quotation marks</label>
                        <div id="quote" class="btn-group">
                            <button class="btn btn-primary">On</button>
                            <button class="btn btn-default">Off</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="show">Show Attribution <span class="help">(e.g. Morning Edition)</span></label>
                        <input id="show" class="form-control" name="fontsize" type="text">
                    </div>
                    <div class="form-group">
                        <button id="save" class="btn btn-lg btn-primary">Save image</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
